In [5]:
# Import libraries
import pandas as pd
import numpy as np

# 1.0 ETL (Extract Transform Load)
The data will be cleaned and prepared for statistical analysis, visualisation

## 1.1 Load the data

In [6]:
# Import data
df = pd.read_csv('../data/raw_data/us_accidents.csv')

## 1.2 Inspect the data

In [ ]:
# Preview first 5 rows of dataset
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1895,Source2,2,2016-07-01 13:17:37,2016-07-01 14:17:37,37.530804,-122.297714,NaN,NaN,0.000,...,False,False,True,False,False,False,Day,Day,Day,Day
1,A-2073258,Source2,2,2019-06-26 08:17:21,2019-06-26 09:17:08,27.960699,-82.705109,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
2,A-4143196,Source1,2,2022-02-19 13:59:30.000000000,2022-02-19 16:03:00.000000000,37.701230,-121.834055,37.702002,-121.916067,4.484,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-7550274,Source1,2,2018-08-20 07:36:17,2018-08-20 08:05:38,42.385570,-83.261400,42.385390,-83.254910,0.331,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-7448730,Source1,2,2019-02-17 09:48:00,2019-02-17 10:47:00,38.347090,-112.659636,38.300895,-112.652231,3.217,...,False,False,False,False,False,False,Day,Day,Day,Day

In [7]:
# Check number of rows and columns
df.shape

(5000, 46)

In [8]:
# Check column names
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     5000 non-null   object
 1   Source                 5000 non-null   object
 2   Severity               5000 non-null   int64
 3   Start_Time             5000 non-null   object
 4   End_Time               5000 non-null   object
 5   Start_Lat              5000 non-null   float64
 6   Start_Lng              5000 non-null   float64
 7   End_Lat                2864 non-null   float64
 8   End_Lng                2864 non-null   float64
 9   Distance(mi)           5000 non-null   float64
 10  Description            5000 non-null   object
 11  Street                 4996 non-null   object
 12  City                   5000 non-null   object
 13  County                 5000 non-null   object
 14  State                  5000 non-null   object
 15  Zipcode                4998 non-null   object
 16  Country                5000 non-null   object
 17  Timezone               4995 non-null   object
 18  Airport_Code           4986 non-null   object
 19  Weather_Timestamp      4928 non-null   object
 20  Temperature(F)         4908 non-null   float64
 21  Wind_Chill(F)          3728 non-null   float64
 22  Humidity(%)            4893 non-null   float64
 23  Pressure(in)           4916 non-null   float64
 24  Visibility(mi)         4893 non-null   float64
 25  Wind_Direction         4891 non-null   object
 26  Wind_Speed(mph)        4633 non-null   float64
 27  Precipitation(in)      3606 non-null   float64
 28  Weather_Condition      4890 non-null   object
 29  Amenity                5000 non-null   bool
 30  Bump                   5000 non-null   bool
 31  Crossing               5000 non-null   bool
 32  Give_Way               5000 non-null   bool
 33  Junction               5000 non-null   bool
 34  No_Exit                5000 non-null   bool
 35  Railway                5000 non-null   bool
 36  Roundabout             5000 non-null   bool
 37  Station                5000 non-null   bool
 38  Stop                   5000 non-null   bool
 39  Traffic_Calming        5000 non-null   bool
 40  Traffic_Signal         5000 non-null   bool
 41  Turning_Loop           5000 non-null   bool
 42  Sunrise_Sunset         4982 non-null   object
 43  Civil_Twilight         4982 non-null   object
 44  Nautical_Twilight      4982 non-null   object
 45  Astronomical_Twilight  4982 non-null   object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 1.3+ MB

In [ ]:
# Check quantity of dtypes - .info preview truncated because of number of columns
df.dtypes.value_counts()

object     20
bool       13
float64    12
int64       1
Name: count, dtype: int64

In [ ]:
# Get statistical analysis of numerical data
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,5000.000000,5000.000000,5000.000000,2864.000000,2864.000000,5000.000000,4908.000000,3728.000000,4893.000000,4916.000000,4893.000000,4633.000000,3606.000000
mean,2.208800,36.048123,-94.518437,36.149776,-95.403536,0.583562,61.677139,58.066309,65.049867,29.539774,9.114872,7.758148,0.012085
std,0.481299,5.053728,17.313412,5.293869,18.017070,1.669626,19.369195,22.971182,22.698096,1.020222,2.694819,5.606876,0.239292
min,1.000000,25.441600,-124.414024,25.441592,-124.414952,0.000000,-35.000000,-36.000000,4.000000,20.590000,0.000000,0.000000,0.000000
25%,2.000000,32.979861,-117.153729,33.067043,-117.686101,0.000000,48.900000,42.500000,49.000000,29.380000,10.000000,4.600000,0.000000
50%,2.000000,35.691129,-87.625450,36.128110,-87.864876,0.039000,64.000000,62.000000,68.000000,29.860000,10.000000,7.000000,0.000000
75%,2.000000,40.025062,-80.390581,40.174858,-80.296012,0.471500,77.000000,76.000000,84.000000,30.030000,10.000000,10.400000,0.000000
max,4.000000,48.687820,-70.335648,48.532200,-70.565046,33.930000,118.400000,111.000000,100.000000,30.710000,80.000000,131.000000,9.990000